* {
  margin: 0;
}
a {
  text-decoration: none;
  background-image: linear-gradient(#fe5568 50%, #fe5568 50%),
    linear-gradient(silver 50%, silver 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 2px;
  color: #1e3a52;
  padding-bottom: 3px;
  transition: 0.5s ease-in-out;
}
a:hover {
  background-size: 100% 2px, 100% 2px;
  color: #fe5568;
}

th {
  cursor: pointer;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}
th {
  background: #bcebdd;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
th:first-child,
td:first-child {
  text-align: left;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
td {
  padding: 10px 20px;
  background: #f8e391;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
tr td:last-child {
  border-right: none;
}
input {
  border: none;
  border-bottom: 1px solid #ccc;
}
